block variables
  - var bodyClass = 'page_person';
  - var htmlClass = 'stick_footer stick_header';
  - var pageTitle = 'Пользователь';
  - var pageDescription = 'Описание страницы';
  - var activePage = 0;
  - var hasUnitNav = false;
  - var customScripts = ['person.js'];

include ../components/dashboard

extends ../components/layout
block head
block content
  .wrapper
    include ../components/header
    include ../components/navbar
      
    .main_content
      .person_bg_w
        .person_bg.personBG
          img.hide.personIMG(src='./img/profile_bg.png')
          
        .section_inner
          .profile_block
            .profile_logout
              //-a.btn_v1.btn_white_3.logout_btn(href='#') ВЫЙТИ ИЗ АККАУНТА
            .profile_photo
              img(src='./img/profile.png')
            
            .profile_info.clr_white
              .profile_name Кислицин Олег Михайлович
              .profile_post Старший руководитель
                
              p Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности
      
      .profile_contacts
        .section_inner
          .contact_block
            .fl.contact_item
              .mb: a.contact_link(href='tel:89293922323')
                span.i-phone.contact_icon
                span 8 (929) 392-23-23
                
            .fl.contact_item
              .mb: a.contact_link(href='mailto:kislitsin@sberbank.ru')
                span.i-envelope.contact_icon
                span kislitsin@sberbank.ru
                
            .fr.contact_item
              a.btn_v1.btn_black.dash_btn(href='#') НАПИСАТЬ СООБЩЕНИЕ

      .section_inner
        .dash_box_title.clr_green ЗАСЕДАНИЯ

        ul.dashboard_list
          li
            +meeting_box(23, '_in_process', 'Управляющий комитет', true)
          li
            +meeting_box(22, '', 'Комитет по проектам и процессам')
          li
            +meeting_box(1, '_in_preparation', 'Комитет по проектам и процессам')
          li
            +meeting_box(22, '_in_process', 'Управляющий комитет')

        .text_center.more_block
          a.btn_v1.btn_white_2.dash_btn(href='#') ПОКАЗАТЬ ВСЕ 10 ЗАСЕДАНИЙ

        .dash_box_title.clr_orange 4 ПОРУЧЕНИЯ

        ul.dashboard_list
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_in_process')
          li
            +instruction_box('', '_new')

        .dash_box_title.clr_blue 2 ДЕЙСТВИЯ

        ul.dashboard_list
          li
            +question_box(0, '_approved')
          li
            +question_box(29, '_rejected', true)


      //-.section_inner
        .dash_box_title СЕКРЕТАРЬ

        ul.dashboard_list
          li
            .dash_box
              .person_info
                p Оперативное совещание офиса CIO поддерживающих блоков
                .dash_b_term 4 года
          
        .dash_box_title ПОСТОЯННЫЙ УЧАСТНИК

        ul.dashboard_list
          li
            .dash_box
              .person_info
                p Оперативное совещание офиса CIO поддерживающих блоков
                .dash_b_term 2 недели
          li
            .dash_box
              .person_info
                p Оперативное совещание офиса CIO поддерживающих блоков
                .dash_b_term 2 недели
                
          
