block variables
  - var bodyClass = 'page_question';
  - var htmlClass = 'stick_footer action_header';
  - var filterClass = 'clr_blue';
  - var pageTitle = 'Вопрос';
  - var pageDescription = 'Описание страницы';
  - var activePage = 2;
  - var hasUnitNav = true;
  - var actionNavbarColor = 'clr_blue';
  - var customScripts = ['vendors/moment.min.js', 'vendors/daterangepicker.js'];

include ../components/dashboard

extends ../components/layout
block head
block content
  .wrapper
    include ../components/header
    include ../components/action_navbar

    .main_content._has_footer_controls
      .action_brief
        .section_inner
          a.brief_control._prev.btn_gray_2(href='#')
          a.brief_control._next.btn_gray_2(href='#')
          
          +action_brief(23, '_in_process', false, 1, 0, false, ['Паспорта услуг и заключение SLA между обеспечивающими подразделениями и краткий обзор проблемных проектов'], false, false, false, '_mod_1', false)
        .action_brief_progress
          .action_brief_val(style='width: 58%;')
          .section_inner.clearfix
            .action_brief_time 1 час 10 минут длительность заседания
            .action_brief_left 40 минут до конца

      .section_inner
        .dash_box._members._alone
          .dash_box_inner
            .box_caption Описание
            .dash_box_description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 

        .dash_box_title УЧАСТНИКИ

        .dash_box._members._alone
          .dash_box_inner
            .box_caption Члены коллегиального органа
            ul.member_list
              +loop_while(2)
                li
                  .member_box
                    .member_avatars
                      .member_main_avatar._current
                        a(href='#'): img(src='./img/member.png')
                        .member_small_avatar
                          a(href='#'): img(src='./img/member.png')
                    .participant_name Кислицин Д.М.
                    .participant_post Председатель
                li
                  .member_box
                    .member_avatars
                      .member_main_avatar
                        a(href='#'): img(src='./img/user_empty.png')
                        .member_small_avatar
                          a(href='#'): img(src='./img/member.png')
                    .participant_name Морозов В.К.
                    .participant_post Секретарь <br> Кислицина. М.П.

            .box_splitter

            .box_caption Приглашенные участники
            ul.member_list
              +loop_while(2)
                li
                  .member_box
                    .member_avatars
                      .member_main_avatar
                        a(href='#'): img(src='./img/member.png')
                        .member_small_avatar
                          a(href='#'): img(src='./img/member.png')
                    .participant_name Кислицин Д.М.
                    .participant_post Председатель
                li
                  .member_box
                    .member_avatars
                      .member_main_avatar
                        a(href='#'): img(src='./img/user_empty.png')
                        .member_small_avatar
                          a(href='#'): img(src='./img/member.png')
                    .participant_name Морозов В.К.
                    .participant_post Секретарь <br> Кислицина. М.П.

        .text_center.more_block
          a.btn_v1.btn_white_2.dash_btn(href='#') ПОКАЗАТЬ ВСЕ 21 УЧАСТНИКА

        .dash_box_title
          .fl МОНИТОРИНГ
          .fr
            .menu_holder
              .dash_b_menu_btn.dashMenuBtn: .dash_b_menu_icon
              .dash_b_menu_w.menu_w
                ul.dash_b_menu_list
                  li.dash_menu_group
                    span.mb Действия
                  li: a.dash_menu_link(href='#')
                    span.mb Редактировать
                  li: a.dash_menu_link(href='#')
                    span.mb Перейти к оформлению
                  li: a.dash_menu_link(href='#')
                    span.mb Удалить
                ul.dash_b_menu_list
                  li.dash_menu_group
                    span.mb Cтатус
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._in_process
                    span.mb В ПРОЦЕССЕ
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._new
                    span.mb НОВАЯ
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._completed
                    span.mb ЗАВЕРШЕНО
            
        .dash_box._monitor._alone
          .dash_box_inner
            ul.monitor_list
              li
                .monitor_item
                  .monitor_icon.monitor_orange.mb
                    .monitor_tip Финального голосования за символы России, которые будут изображены на новых банкнотах Банка России в 200 и 2000 рублей! Ниже в алфавитном порядке представлены города/территории, которые уже прошли два отборочных этапа (подробнее о них здесь).
                  .mb.monitor_name ДСР
              li
                .monitor_item
                  .monitor_icon.monitor_red.mb
                    .monitor_tip Текст пояснения к показателю. Одно-два предложения. <br> Слишком много текста не требуется.
                  .mb.monitor_name УФК
              li
                .monitor_item
                  .monitor_icon.monitor_green.mb
                    .monitor_tip Текст пояснения к показателю. Одно-два предложения. <br> Слишком много текста не требуется.
                  .mb.monitor_name ИТ
                  
        .dash_box_title ОСНОВНЫЕ МАТЕРИАЛЫ
                    
        .dash_box._alone
          .dash_box_inner
            ul.material_list
              +loop_while(3)
                li
                  .upload_file.goTo(data-goto='./img/doc_1.jpg')
                    .mb
                      span.upload_icon
                        img(src='./img/file_doc.svg')
                    .upload_name.mb Презентация
                                        
        .dash_box_title
          .fl МАТЕРИАЛЫ
          .fr
            .menu_holder
              .dash_b_menu_btn.dashMenuBtn: .dash_b_menu_icon
              .dash_b_menu_w.menu_w
                ul.dash_b_menu_list
                  li.dash_menu_group
                    span.mb Действия
                  li: a.dash_menu_link(href='#')
                    span.mb Редактировать
                  li: a.dash_menu_link(href='#')
                    span.mb Перейти к оформлению
                  li: a.dash_menu_link(href='#')
                    span.mb Удалить
                ul.dash_b_menu_list
                  li.dash_menu_group
                    span.mb Cтатус
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._in_process
                    span.mb В ПРОЦЕССЕ
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._new
                    span.mb НОВАЯ
                  li: a.dash_menu_link(href='#')
                    span.mb.dash_m_status._completed
                    span.mb ЗАВЕРШЕНО
                    
        .dash_box._alone
          .dash_box_inner
            ul.material_list._full_w._file_catalog
              li
                .upload_file.goTo(data-goto='./img/doc_1.jpg')
                  .mb
                    span.upload_icon
                      img(src='./img/file_pdf.svg')
                  .upload_name.mb Dogovor_23_05_2016-idjjjh2.pdf
                      
              li
                .upload_file.goTo(data-goto='./img/doc_1.jpg')
                  .mb
                    span.upload_icon
                      img(src='./img/file_pdf.svg')
                  .upload_name.mb Intro.pdf
                      
              li
                .upload_file.goTo(data-goto='./img/doc_1.jpg')
                  .mb
                    span.upload_icon
                      img(src='./img/file_pdf.svg')
                  .upload_name.mb Wеlcome-to-biejing.pdf
                      
        .text_center.more_block
          a.btn_v1.btn_white_2.dash_btn(href='#') ПОКАЗАТЬ ВСЕ 15 ФАЙЛОВ
          
        .dash_box_title.clr_orange 4 ПОРУЧЕНИЯ

        ul.dashboard_list
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_in_process')
          li
            +instruction_box('', '_new')
                      
        .dash_box_title ТЕГИ
            
        ul.tag_list
          li
            a.tag_item(href='#') Заседание
          li
            a.tag_item(href='#') Комитет №1
          li
            a.tag_item(href='#') Поручение
          li
            a.tag_item(href='#') Комитет по корпоративному бизнесу обеспечивает реализацию стратегии
          li
            a.tag_item(href='#') Встречи в сентябре
          li
            a.tag_item(href='#') Поручения созданные Долговым

    include ../components/footer_controls
