block variables
  - var bodyClass = 'page_questions';
  - var htmlClass = 'stick_footer nav_header';
  - var filterClass = 'clr_blue';
  - var pageTitle = 'Вопросы';
  - var pageDescription = 'Описание страницы';
  - var activePage = 2;
  - var hasUnitNav = true;
  - var unitNavLink = 'create_task.html';
  - var customScripts = ['vendors/moment.min.js', 'vendors/daterangepicker.js', 'vendors/select2.js'];

include ../components/dashboard

extends ../components/layout
block head
block content
  .wrapper
    include ../components/header
    include ../components/filter_2

    .main_content._has_footer_controls
      .section_inner

        ul.dashboard_list
          li
            +action_brief(17, '_in_vote', true, 1, 1, true, ['Текст документа подготовлен. Необходимо согласовать дополнительные гарантийные'], false, true, true)
          li
            +question_box(0, '_approved')
          li
            +question_box(0, '_rejected', false, true)
          li
            +question_box(0, '_approved')
          li
            +question_box(0, '_approved')
          
    include ../components/footer_controls
