block variables
  - var bodyClass = 'page_search';
  - var htmlClass = 'stick_footer stick_header';
  - var pageTitle = 'Поиск';
  - var pageDescription = 'Описание страницы';
  - var activePage = 0;
  - var hasUnitNav = false;

include ../components/dashboard

extends ../components/layout
block head
block content
  .wrapper
    include ../components/header
    include ../components/navbar

    .main_content._has_footer_controls
      .section_inner
        .search_field
          form(action='#')
            .input_w.has_icon
              input.f_input.input_v1._inp_black(placeholder='Поиск')
              button.search_submit.i-search._small
        
        ul.filter_controls
          li.filter_item: a.filter_link.filterLink(href='#') ВСЕ
          li.filter_item: a.filter_link.filterLink.clr_green(href='#meetings_block') ЗАСЕДАНИЯ
          li.filter_item: a.filter_link.filterLink.clr_orange(href='#instructions_block') ВОПРОСЫ
          li.filter_item: a.filter_link.filterLink.clr_blue(href='#actions_block') ПОРУЧЕНИЯ
          
        .filter_container.filterContainer
          #meetings_block.filter_unit.filterUnit
            .dash_box_title.clr_green ЗАСЕДАНИЯ
    
            ul.dashboard_list
              li
                +meeting_box(23, '_in_process', 'Управляющий комитет')
              li
                +meeting_box(22, '', 'Комитет по проектам и процессам')
              li
                +meeting_box(1, '_in_preparation', 'Комитет по проектам и процессам')
              li
                +meeting_box(22, '_in_process', 'Управляющий комитет')
    
            //-.text_center.more_block
              a.btn_v1.btn_white_2.dash_btn(href='#') ПОКАЗАТЬ ВСЕ 10 ЗАСЕДАНИЙ
  
          #instructions_block.filter_unit.filterUnit
            .dash_box_title.clr_orange 4 ПОРУЧЕНИЯ
    
            ul.dashboard_list
              li
                +instruction_box('', '_new')
              li
                +instruction_box('', '_new')
              li
                +instruction_box('', '_in_process')
              li
                +instruction_box('', '_new')
  
          #actions_block.filter_unit.filterUnit
            .dash_box_title.clr_blue 2 ДЕЙСТВИЯ
    
            ul.dashboard_list
              li
                +question_box(0, '_approved')
              li
                +question_box(29, '_rejected', true)

    include ../components/footer_controls
