block variables
  - var bodyClass = 'page_tasks';
  - var htmlClass = 'stick_footer nav_header';
  - var filterClass = 'clr_orange';
  - var pageTitle = 'Фильтр 2';
  - var pageDescription = 'Описание страницы';
  - var activePage = 3;
  - var hasUnitNav = true;
  - var unitNavLink = 'create_task.html';
  - var actionNavbarColor = 'clr_orange';
  - var customScripts = ['vendors/moment.min.js', 'vendors/daterangepicker.js', 'vendors/select2.js'];

include ../components/dashboard

extends ../components/layout
block head
block content
  .wrapper
    include ../components/header
    include ../components/filter_2

    .main_content._has_footer_controls
      .section_inner

        ul.dashboard_list
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_in_process')
          li
            +instruction_box('', '_new')
          li
            +instruction_box('', '_in_process')
          li
            +instruction_box('', '_new')
            
    include ../components/footer_controls
