.filter_bar
  .section_inner
    ul.filter_list
      li
        a.filter_link.filterToggle.clr_green(href="#collegial_filter")
          span.mb КОЛЛЕГИАЛЬНЫЙ ОРГАН
      li
        a.filter_link.filterToggle.clr_green(href="#status_filter")
          span.mb СТАТУС
      li
        a.filter_link.filterToggle.clr_green(href="#date_filter")
          span.mb ДАТА
          
  .filter_dropdown
    #status_filter.section_inner.filterUnit
    #date_filter.section_inner.filterUnit
      .input_w.daterangepicker_holder
        input#range_calendar('name'='daterange')
    #collegial_filter.section_inner.filterUnit
      .collegial_list_w: ul.collegial_list
          li
            +collegial_unit('Комитет по розничному кредитованию обеспечивает реализацию политики банка в области кредитования физических лиц')
            +collegial_unit('Комитет по управлению дочерними банками рассматривает вопросы бизнес-планирования дочерних банков, предложения по созданию и ликвидации дочерних и зависимых обществ, интеграции приобретенных активов.')
            +collegial_unit('Комитет по розничному кредитованию обеспечивает реализацию политики банка в области кредитования физических лиц')
            +collegial_unit('Комитет по управлению дочерними банками рассматривает вопросы бизнес-планирования дочерних банков, предложения по созданию и ликвидации дочерних и зависимых обществ, интеграции приобретенных активов.')
            +collegial_unit('Комитет по управлению дочерними и зависимыми обществами обеспечивает решение задач, поставленных банком перед дочерними и зависимыми обществами ОАО «Сбербанк России».')
          li
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
            +collegial_unit('Комитет по корпоративному бизнесу обеспечивает реализацию Стратегии развития банка в части обслуживания корпоративных клиентов (крупнейших, крупных, средних корпоративных клиентов и предприятий малого и микробизнеса).')
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
            +collegial_unit('Комитет по корпоративному бизнесу обеспечивает реализацию Стратегии развития банка в части обслуживания корпоративных клиентов (крупнейших, крупных, средних корпоративных клиентов и предприятий малого и микробизнеса).')
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
          li
            +collegial_unit('Комитет по корпоративному бизнесу обеспечивает реализацию Стратегии развития банка в части обслуживания корпоративных клиентов (крупнейших, крупных, средних корпоративных клиентов и предприятий малого и микробизнеса).')
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
            +collegial_unit('Комитет по корпоративному бизнесу обеспечивает реализацию Стратегии развития банка в части обслуживания корпоративных клиентов (крупнейших, крупных, средних корпоративных клиентов и предприятий малого и микробизнеса).')
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
            +collegial_unit('Комитет по проблемным активам обеспечивает эффективную деятельность банка по урегулированию проблемной задолженности.')
        
      ul.filter_bar_controls
        li
          a.btn_v1.btn_green_2.filter_btn(href='#') РЕДАКТИРОВАТЬ ФИЛЬТР
        li
          a.btn_v1.btn_red.filter_btn(href='#') СБРОСИТЬ ФИЛЬТР
