.filter_bar
  .section_inner
    ul.filter_list
      li
        .filter_btn
          span.mb КОЛЛЕГИАЛЬНЫЙ ОРГАН
      li
        .filter_btn
          span.mb СТАТУС
      li
        .filter_btn
          span.mb ДАТА
  
