block variables
  
- var items =['clr_orange', 'clr_blue', 'clr_green'];
- var texts =['ПОРУЧЕНИЕ', 'ВОПРОС', 'ЗАСЕДАНИЕ'];
- var links =['create_task.html', 'create_meeting_add.html', 'create_meeting.html'];

.footer_controls
  .section_inner.clearfix
    .fr
      .f_controls_holder
        - if (unitNavFiles)
          label.btn_v2.add_unit_btn.btn_white_2
            span.mb.i-plus(class=filterClass || '')
            input.hide(type='file')
        - else if (unitNavLink && unitNavLink.length)
          a.btn_v2.add_unit_btn.btn_white_2(href= unitNavLink)
            span.mb.i-plus(class=filterClass || '')
        - else
          .btn_v2.add_unit_btn.btn_white_2.asideAddOpen
            span.mb.i-plus(class=filterClass || '')
          .f_controls_panel
            - each item,i in items
              .f_control_item(class= item)
                a.f_control_link(href= links[i] class= item)
                  span.btn_v1.f_control_btn.i-plus
                  .f_control_text= texts[i]
            
      - if (hasChatNav)
        .f_controls_holder
          .btn_v2.add_unit_btn.btn_white_2
            span.nav_counter 23
            span.mb.i-chat.clr_red
        
