mixin radio_toggle(on, off, flags)
  label
    input(type='radio')
    span.radio_text._on= on
    span.radio_text._off= off

block variables
  
- var scriptsArr= ['vendors/jquery1.10.js','vendors/snabbt.min.js','vendors/flexibility.js'];

- if (customScripts != undefined)
  - for scr in customScripts
    - scriptsArr.push(scr);

- scriptsArr.push('main.js');
  
include page
include ../utils/scripts

doctype html
html(lang='ru' class=htmlClass || '')
  include head
  +page(bodyClass || '')
    block content

    - if (!loginPage)
      include popups
      +scripts(scriptsArr)
