.nav_bar.navBar
  .wide_aside_left
    .section_inner
      ul.nav_list
        li
          .nav_unit.scrollTo.clr_green(data-scroll='#meetings_block')
            span.mb.nav_unit_counter 1
            span.mb Заседания сегодня
        li
          .nav_unit.scrollTo.clr_orange(data-scroll='#instructions_block')
            span.mb.nav_unit_counter 4
            span.mb Поручения
        li
          .nav_unit.scrollTo.clr_blue(data-scroll='#actions_block')
            span.mb.nav_unit_counter 2
            span.mb Действия
            
  .wide_aside_right
    .section_inner
      .section_inner.clearfix
        .action_nav_menu
          +dash_b_menu()

        .action_nav_controls
          ul.action_nav_list.clr_green
            li №241
            li Очное
            li Комитет по корпоративному бизнесу обеспечивает реализации стратегии разития по корпоративному бизнесу обеспечивает реализации стратегии разития
          
    
