.nav_bar
  .section_inner
    .small_aside_left
      .text_center
        .mb.select_v2.text_left
          select.select2
            option НЕДАВНИЕ
            option НОВЫЕ
            option СТАРЫЕ
            
    .small_aside_right
      .text_center.clr_gray.aside_caption Заседание №223
