.nav_bar
  .section_inner
    .small_aside_left
      a.nav_back_link(href='files.html')
        span ВСЕ ФАЙЛЫ
            
    .small_aside_right
      .fl: .mb
        .clr_gray.aside_caption Документация / Wеlcome-to-biejing.doc
      .action_nav_menu
        +dash_b_menu()
