.gl_overlay.glOverlay
#search_popup.popup_wrapper.popupWrapper(data-class='search_opened')
  .gl_table
    .gl_table_cell
      .main_content
        .section_inner.noClose
          .search_form
            form(action='#')
              .form_cell
                .input_w.has_icon
                  input.f_input.input_v2(placeholder='Поиск')
                  button.search_submit.i-search._large.clr_white
                  
#vote_popup.popup_wrapper.popupWrapper(data-class='vote_opened')
  .vote_step.voteStep(data-step='1')
    .vote_info_holder
      .section_inner.noClose
        .popup_close.popupClose
  
        .vote_info
          .vote_info_caption Финального голосования за символы России, которые будут изображены на новых банкнотах Банка России в 200 и 2000 рублей!
  
          p Финального голосования за символы России, которые будут изображены на новых банкнотах Банка России в 200 и 2000 рублей!
  
          p Ниже в алфавитном порядке представлены города/территории, которые уже прошли два отборочных этапа (подробнее о них здесь). Именно их символы жители России чаще всего предлагали для изображения на новых купюрах.
  
          p Выбери двух самых достойных претендентов, проголосуй за них, и, возможно, твой голос станет решающим при подведении итогов.
  
          p Также ты можешь проголосовать 1 октября 2016 года в рамках Дня открытых дверей Банка России (список всех региональных отделений доступен по ссылке) или заполнив специальные анкеты в федеральных изданиях газет «Аргументы и факты» и «Комсомольская правда». Анкеты будут опубликованы 14 и 15 сентября 2016 года, соответственно.
  
          p Участвуй в финальном этапе отбора, голосуй за любимые символы!
      
    .vote_form_holder
      .section_inner.noClose
        .vote_form
          p.text_center
            a.clr_white._link(href='#') Посмотреть ход голосования
            
          form(action='#')
            .form_row.cell_v1.text_center
              .form_cell._s_33
                label.check_v2
                  input.hide.voteCheck(data-check-text='ПРОГОЛОСОВАТЬ «ЗА»' type='radio' name='vote_process' data-btn-class='btn_green')
                  span.check_state.i-check
                  span.check_text «За»
                
              .form_cell._s_33
                label.check_v2
                  input.hide.voteCheck(data-check-text='ПРОГОЛОСОВАТЬ «ПРОТИВ»' type='radio' name='vote_process' data-btn-class='btn_red_3')
                  span.check_state.i-cross
                  span.check_text «Против»
                
              .form_cell._s_33
                label.check_v2
                  input.hide.voteCheck(data-check-text='ВОЗДЕРЖАТЬСЯ' type='radio' name='vote_process' data-btn-class='btn_gray_2')
                  span.check_state.i-circle-minus
                  span.check_text Воздержаться
                
            .form_row.cell_v1
              .form_cell._s_33 &nbsp;
                
              .form_cell._s_33.text_center
                button.btn_v1.dash_btn.voteBtn.voteStepBtn.btn_gray_2(data-step='2') ПРОГОЛОСОВАТЬ «ЗА»
                
              .form_cell._s_33.text_left
                .mb: a.clr_white._link(href='#') Добавить мнение
  
  .vote_step.voteStep.step_2.clr_white.noClose(data-step='2')
    .gl_table
      .gl_table_cell
        .section_inner.text_center
          .vote_thanks_caption
            span.mb Спасибо за голос!
          .vote_counter
            .vote_counter_val 12
            p Человека проголосовали <br>  так-же как и вы
          
          .text_center.more_block
            .btn_v1.dash_btn.voteStepBtn.btn_white_2(data-step='3')
              span.clr_green ПЕРЕЙТИ К РЕЗУЛЬТАТАМ

  .vote_step.voteStep.step_3.noClose(data-step='3' style='display: block;')
    .section_inner
      .popup_close.popupClose._close_2
      .vote_results
        .dash_box._members
          .dash_box_inner
            .vote_result_caption
              .fl 
                span.mb Результаты
              .fr 
                span.mb Вы проголосовали:
                span.mb.clr_green
                  span.i-check.vote_icon.mb
                  span «За»
        
            .vote_results_scale
              .vote_val.vote_pro(style='width:' + 55 + '%;') 
                span.mb 12
              .vote_val.vote_cons(style='width:' + 35 + '%;') 
                span.mb 7
              .vote_val(style='width:' + 10 + '%;') 
                span.mb 1
          
            .section_scroller
              p Паспорта услуг и заключение SLA между обеспечивающими подразделениями и краткий обзор паспорта услуг и заключение SLA между обеспечивающими подразделениями и краткий обзор и заключение SLA между обеспечивающими подразделениями.
  
              .votings_block
                p Проголосовали 
                  span.clr_green «За»
                  
                ul.votings_list
                  li 
                    +participant('Председатель', false , true)
                  li 
                    +participant('Председатель', false , true)
                    
              .votings_block
                p Проголосовали 
                  span.clr_red «Против»
                  
                ul.votings_list
                  li 
                    +participant('Председатель', false , true)
                  li 
                    +participant('Председатель', false , true)
                    
                    
              .votings_block
                p
                  span.clr_gray Особое мнение
                  
                ul.special_opinion
                  li 
                    .opinion_item
                      .opinion_author
                        +participant('Ответственный')
                        
                      .opinion_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                      
                  li 
                    .opinion_item
                      .opinion_author
                        +participant('Ответственный')
                        
                      .opinion_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                  
              .votings_block
                .vote_thanks_caption.clr_green
                  span.mb Вопрос утвержден
                  
              .votings_block
                .text_center
                  .btn_v1.dash_btn.voteStepBtn.btn_gray_3(data-step='1') ВЕРНУТЬСЯ К ВОПРОСУ
                  
