.gl_overlay.glOverlay
#search_popup.popup_wrapper.popupWrapper(data-class='search_opened')
  .gl_table
    .gl_table_cell
      .main_content
        .section_inner.noClose
          .search_form
            form(action='#')
              .form_cell
                .input_w.has_icon
                  input.f_input.input_v2(placeholder='Поиск')
                  button.search_submit.i-search._large.clr_white
                  
                  
                  
