.fr
  .mb
    ul.user_block
      li.user_b_item
        .user_b_control
          a.notification_btn(href='#')
          span.nav_counter 3
      li.user_b_item
        .user_b_control
          a.search_btn(href='#')
      li.user_b_item
        .user_b_control
          .user_avatar
            img(src='img/avatar.png')
