- localHost = false;
  
mixin scripts(scripts)
  each src in scripts
    - var isExternalScript = /^(?:https?\:)?\/\//i;
    - src = isExternalScript.test(src) ? src : (localHost ? 'js/' : './js/') + src;
    script(src=src)
