@import "../senat_icons/style.scss";
@import "includes/global_var";
@import "font_icons";
//@import "buttons";
@import "tables";
@import "dashboard";
@import "main";
@import "profile";
@import "footer";
@import "popup";
