//************  buttons

.btn_v1 {

  &.f_control_btn {
    @include transition_all(background .3s, color .3s);
    display: inline-block;
    vertical-align: top;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    border-radius: 100%;

    .clr_orange & {
      background: $gl_orange;
    }

    .clr_blue & {
      background: $gl_blue_2;
    }

    .clr_green & {
      background: $gl_green;
    }

    .f_control_link:not(:hover) & {
      color: $gl_white !important;
      box-shadow: 0 2px 5px 0 rgba(26, 26, 26, 0.30);
    }

    .f_control_link:hover & {
      background: transparent !important;
    }
  }

  &.dash_btn {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 20px;
    font: 10px/20px $HelveticaNeueBold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    min-width: 200px;
    text-align: center;

    .more_block & {
      min-width: 230px;
    }
  }
}

.btn_v2 {
  height: 60px;

  &.aside_add_btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: block;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 52px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);

    .open_aside_add & {
      background: #e9e9e9;
    }
  }
}

.btn_white {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: #8d87da;

  &:hover {
    background: #8d87da;
    color: $gl_white;
  }
}

.btn_white_2 {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: $default_t_color;

  &:hover {
    background: $default_t_color;
    color: $gl_white;
  }
}

.green_btn {
  background: green;
}

.btn_green {
  @include transition_all(background .3s, color .3s);
  border: 1px solid $gl_green;
  color: $gl_green;

  &:hover {
    background: $gl_green;
    color: $gl_white;
  }
}

.btn_blue {
  color: #fff;
  position: relative;
  background-image: linear-gradient(-90deg, #3bc6da 0%, #5081c2 100%);

  &:before {
    @include transition_all(opacity .5s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    opacity: 0;
    background-image: linear-gradient(-90deg, #5081c2 0%, #3bc6da 100%);
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover:before {
    opacity: 1;
  }
}


