//************  buttons

%main_btn {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-radius: 20px;
  font: 10px/18px $HelveticaNeueBold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  text-align: center;
}

.btn_v1 {

  &.chat_btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 120px;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    font: 10px/20px $HelveticaNeueBold;
  }

  &.f_control_btn {
    @include transition_all(background .3s, color .3s);
    display: inline-block;
    vertical-align: top;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    border-radius: 100%;

    .clr_orange & {
      background: $gl_orange;
    }

    .clr_blue & {
      background: $gl_blue_2;
    }

    .clr_green & {
      background: $gl_green;
    }

    .f_control_link:not(:hover) & {
      color: $gl_white !important;
      box-shadow: 0 2px 5px 0 rgba(26, 26, 26, .3);
    }

    .f_control_link:hover & {
      background: transparent !important;
    }
  }

  &.dash_btn {
    @extend %main_btn;
    min-width: 200px;

    &._mod_2 {
      min-width: 220px;
    }

    .more_block & {
      min-width: 230px;
    }
  }

  &.logout_btn {
    @extend %main_btn;
    min-width: 180px;
  }

  &.filter_btn {
    @extend %main_btn;
    padding: 10px 41px;
  }
}

.btn_v2 {
  height: 60px;

  &.add_unit_btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: block;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 52px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);

    span {
      @include transition_all(transform .3s);
      position: relative;
    }

    .open_menu & {
      background: #e9e9e9;

      span {
        transform: rotate(45deg);
      }
    }

    .nav_counter {
      position: absolute;
      top: -2px;
      right: 0;
      height: 18px;
      width: 18px;
      line-height: 18px;
    }
  }
}

.btn_white {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: $gl_violet;

  &:hover {
    background: $gl_violet;
    color: $gl_white;
  }
}

.btn_white_2 {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: $default_t_color;

  .open_menu &,
  &:hover {
    background: #ececec;
    //color: $gl_white;
  }

  .ui-tabs-active & {
    background: #ececec;
    cursor: default;
  }

}

.btn_white_3 {
  @include transition_all(background .3s, color .3s);
  background: none;
  border: 1px solid $gl_white;
  color: $gl_white;

  &:hover {
    background: $gl_white;
    color: $default_t_color;
  }
}

.green_btn {
  background: green;
}

.btn_green {
  @include transition_all(background .3s, color .3s, border .3s);
  border: 1px solid $gl_green;
  color: $gl_green;
  background-color: transparent;

  &:hover {
    background-color: $gl_green;
    color: $gl_white;
  }
}

.btn_green_2 {
  @include transition_all(background .3s, color .3s);
  background: $gl_green_2;
  border: 1px solid $gl_green_2;
  color: $gl_white;

  &:hover {
    background: $gl_white;
    color: $gl_green_2;
  }
}

.btn_green_3 {
  @include transition_all(background .3s, color .3s);
  background: #56c376;
  color: $gl_white;

  &:hover {
    background: $gl_green_2;
  }
}

.btn_red {
  @include transition_all(background .3s, color .3s);
  border: 1px solid $gl_red_4;
  background: $gl_red_4;
  color: $gl_white;

  &:hover {
    background: $gl_white;
    color: $gl_red_4;
  }
}

.btn_red_2 {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: $gl_red_2;

  &:hover {
    background: $gl_red_2;
    color: $gl_white;
  }
}

.btn_red_3 {
  @include transition_all(background .3s, border .3s, color .3s);
  background: transparent;
  border: 1px solid $gl_red_2;
  color: $gl_red_2;

  &:hover {
    background: $gl_red_2;
    color: $gl_white;
  }
}

.btn_black {
  @include transition_all(background .3s, color .3s);
  border: 1px solid $default_t_color;
  color: #4f4f4f;

  &:hover {
    background: $default_t_color;
    color: $gl_white;
  }
}

.btn_gray {
  @include transition_all(background .3s, color .3s);
  background: #cecece;
  color: $default_t_color;

  &:hover {
    background: $default_t_color;
    color: $gl_white;
  }
}

.btn_gray_2 {
  @include transition_all(background .3s, color .3s, border .3s);
  background: transparent;
  border: 1px solid $gl_gray_2;
  color: $gl_gray_2;

  &:hover {
    background: $default_t_color;
    border-color: $default_t_color;
    color: $gl_white;
  }
}

.btn_gray_3 {
  @include transition_all(background .3s, color .3s, border .3s);
  background: transparent;
  border: 1px solid $default_t_color;
  color: $default_t_color;

  &:hover {
    background: $default_t_color;
    color: $gl_white;
  }
}

.btn_blue {
  color: #fff;
  position: relative;
  background-image: linear-gradient(-90deg, #3bc6da 0%, #5081c2 100%);

  &:before {
    @include transition_all(opacity .5s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    opacity: 0;
    background-image: linear-gradient(-90deg, #5081c2 0%, #3bc6da 100%);
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover:before {
    opacity: 1;
  }
}
