.dash_box {
  padding-bottom: 10px;
  position: relative;

  &._alone {
    padding-bottom: 35px;
  }

  &._mb_50 {
    margin-bottom: 50px;
  }
}

.box_caption {
  font-size: 18px;
  color: #3c3c3c;
  margin-bottom: 30px;
  letter-spacing: .03em;
}

.dash_box_description {
  font: 14px/1.5 $HelveticaNeueLight;
  letter-spacing: .06em;
}

.box_splitter {
  margin: 10px -15px 30px;
  height: 1px;
  background: $gl_gray;
}

.dash_box_inner {
  @extend %clearfix;
  border-radius: 10px;
  background: $gl_white;

  .dashboard_list & {
    position: relative;
    padding: 16px 25px 10px 20px;
    min-height: 100px;
    line-height: 60px;

    .unit_rm_btn {
      position: absolute;
      top: -10px;
      right: -10px;
      box-shadow: 0 2px 5px 0 rgba(26, 26, 26, .3);
    }

    > .fl {
      //max-width: 70%;

      > .mb {
        max-width: 290px;
      }
    }

    > .fr {
      padding-top: 5px;

      > .mb {
        margin-left: 8px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .sortable & {
    @include transition_all(box-shadow .3s);
    cursor: move;
  }

  .ui-sortable-helper & {
    box-shadow: 10px 10px 10px 0 rgba(26, 26, 26, 0.20);
  }

  ._alone & {
    padding: 25px 35px 12px;
  }

  ._members & {
    padding: 30px 40px 50px;
  }

  ._monitor & {
    padding: 30px 40px 20px;
  }

  ._create & {
    padding: 23px 40px 50px;
  }

  ._add > & {
    padding: 20px 25px 0;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(26, 26, 26, .3);
  }

  ._footer & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  ._current & {
    @include respond-to-min($resp_step_3) {
      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -20px;
        border-left: 16px solid $gl_white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
  }
}

.dash_box_footer {
  padding: 40px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background: url(../img/report_section_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.dash_list {
  @extend %clearfix;
  position: relative;
  margin-left: -40px;
  margin-right: -1%;

  > li {
    width: 33%;
    float: left;
    padding-left: 40px;
    position: relative;

    &:first-child {
      &:before {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      background: $gl_gray;
      height: 340px;
      top: 50%;
      left: 20px;
      margin-top: -170px;
    }
  }
}

.dashboard_list {
  padding-bottom: 10px;

  &._mb_20 {
    margin-bottom: 20px;
  }
}

.more_block {
  @extend %clearfix;
  margin-bottom: 30px;

  &.mod_2 {
    margin: 20px 0 55px;
  }

  &.mod_3 {
    margin: 20px 0;

    .btn_v1.dash_btn {
      min-width: 200px;
    }
  }

  > li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
  }
}

.dash_unit {
  cursor: pointer;
  min-height: 380px;
  border-radius: 10px;
  padding: 28px;

  &:hover {
    background: #f7f7f7;

    .dash_counter {

      .dash_counter_val,
      .dash_counter_name {
        color: $gl_white;
      }
    }
  }

  &.meetings_unit {
    color: #50c271;
  }

  &.instructions_unit {
    color: #ff841f;
  }

  &.actions_unit {
    color: $gl_blue_2;
  }
}

.dash_counter_val {
  font: 48px $HelveticaNeueLight;
}

.dash_counter_name {
  font: 12px $HelveticaNeueBold;
}

.dash_counter_val,
.dash_counter_name {
  position: relative;
  z-index: 1;
  letter-spacing: .075em;
}

.dash_counter {
  width: 160px;
  height: 160px;
  position: relative;
  padding: 42px 15px 15px;
  border-radius: 100%;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border: 14px solid #fff;
    border-radius: 100%;
    background: #fff;

    .meetings_unit:hover & {
      background: #77b474;
      border-color: #f7f7f7;
    }

    .instructions_unit:hover & {
      background: #ff841f;
      border-color: #f7f7f7;
    }

    .actions_unit:hover & {
      background: #5081c2;
      border-color: #f7f7f7;
    }
  }

  .meetings_unit & {
    background-image: linear-gradient(-90deg, #8cda3b 0%, #50c271 100%);
  }

  .instructions_unit & {
    background-image: linear-gradient(-90deg, #dab53b 2%, #ff841f 100%);
  }

  .actions_unit & {
    //background-image: linear-gradient(135deg, #3023ae 0%, #c96dd8 100%);
    background-image: linear-gradient(-90deg, #3bc6da 0%, #5081c2 100%);
  }

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
}

.dash_counter_list {
  padding-top: 8px;

  > li {
    position: relative;
    padding-left: 28px;
    margin: 27px 0;
  }
}

.dash_list_val {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: -16px;
}

.dash_box_title {
  @extend %clearfix;
  font: 12px $HelveticaNeueLight;
  margin-bottom: 10px;
  padding-left: 8px;
  letter-spacing: .1em;

  &.mod_1,
  .dashboard_list + & {
    margin-top: 15px;
  }
}

.dash_b_label {
  margin-bottom: 15px;
  font: 12px/18px $HelveticaNeueLight;
  color: #a0b3be;
  letter-spacing: .09em;
}

.dash_b_date {
  color: #3c3c3c;
  font-family: $HelveticaNeueLight;
  width: 100px;
  min-height: 60px;
  float: left;
  text-align: center;
  padding: 4px 25px 0 0;
  //border-right: 1px solid $gl_gray;

  .day {
    font-size: 30px;
  }

  .month {
    font-size: 12px;
    letter-spacing: 0.06em;
  }

  &:before {
    content: '';
    position: absolute;
    left: 119px;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background: $gl_gray;
  }
}

.dash_b_info {
  width: 400px;
  padding-left: 24px;
  letter-spacing: .05em;

  p {
    font-size: 12px;
    margin-top: 5px;

  }

  &._meetings_mod p {
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: .045em;
  }
}

.dash_b_point {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 15px;
  margin: 20px 0 15px;

  &._checked {
    &:before {
      position: absolute;
      top: 0;
      left: -9px;
      content: $i-check;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      background: $gl_blue_2;
      color: $gl_white;
    }
  }

  ._mod_1 & {
    margin-top: 0;
  }
}

.dash_b_caption {
  color: $gl_green;
  font: 14px $HelveticaNeueBold;
  margin: 5px 0 10px;

  span {
    font: 12px $HelveticaNeueReg;
    color: $default_t_color;
    opacity: .5;
  }

  .dash_b_point & {
    margin: 0;
  }
}

.dash_b_location {
  @extend %icon_pseudo;
  font: 12px $HelveticaNeueReg;
  color: $default_t_color;
  position: relative;
  padding-left: 33px;
  margin-left: 12px;
  min-height: 50px;

  &:before {
    content: $i-pin_small;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
    //margin-top: -15px;
    font-size: 30px;
    color: #696969;
  }
}

.dash_b_status {
  float: left;
  height: 30px;
  border-radius: 4px;
  padding: 4px 11px;
  color: $gl_green;
  border: 1px solid $gl_green;
  font: 10px/20px $HelveticaNeueBold;
  letter-spacing: 0.1em;

  &._rejected,
  &._in_process {
    color: $gl_red_2;
    border-color: $gl_red_2;
  }

  &._new {
    color: $gl_blue;
    border-color: $gl_blue;
  }

  &._in_vote,
  &._in_review {
    color: $gl_violet;
    border-color: $gl_violet;
  }

  &._in_preparation {
    color: $gl_violet;
    border-color: $gl_violet;
  }

  &._name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    + .dash_b_status {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
    }
  }
}

.dash_b_status_counter {
  float: left;
  font-size: 11px;
  line-height: 16px;
  padding: 0 2px;
}

.dash_b_status_name {
  float: left;
  padding-right: 10px;
}

.dash_b_icon {
  padding-right: 2px;
}

.menu_holder {
  position: relative;
}

.dash_b_menu_btn {
  @include transition_all(background .3s);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;

  .open_menu &,
  &:hover {
    background: #e2e3e4;
  }

  .dash_box_title & {
    margin-top: -8px;
    margin-bottom: -8px;
  }
}

.dash_b_term {
  font-size: 12px;
  opacity: .5;
  letter-spacing: .05em;
}

.menu_w {
  position: absolute;
  top: 100%;
  display: none;
  z-index: 3;
  background: $gl_white;
  box-shadow: 0 2px 5px rgba(26, 26, 26, .3);

  .open_menu & {
    display: block;
  }
}

.dash_b_menu_w {
  right: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.dash_b_menu_list {
  min-width: 240px;

  li {
    line-height: 40px;
    letter-spacing: .03em;

    &.dash_menu_group {
      color: #a0b3be;
      padding: 0 20px;
      font: 12px/30px $HelveticaNeueLight;
    }
  }

  .dash_b_menu_w & {
    border-bottom: 1px solid $gl_gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.dash_menu_link {
  @include transition_all(transform .3s);
  display: block;
  height: 40px;
  padding: 0 20px;
  color: $default_t_color;

  &:hover {
    background: #ececec;
  }
}

.dash_m_status {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 10px;

  &._in_process {
    background: #ff543a;
  }
  &._new {
    background: #4c81f6;
  }
  &._completed {
    background: #67cb5c;
  }

}

.dash_b_menu_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  border-radius: 100%;
  background: #b7b7b7;

  &:after {
    right: -8px;
  }

  &:before {
    left: -8px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #b7b7b7;
  }
}

.dash_b_control {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  border-radius: 100%;
  overflow: hidden;
  padding: 1px;
  text-align: center;

  &.clr_orange {
    background-image: linear-gradient(-90deg, #dab53b 2%, #ff841f 100%);
  }

  &.clr_blue {
    background-image: linear-gradient(-90deg, #3bc6da 0%, #5081c2 100%);
  }

  span {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 100%;
    background: $gl_white;

    &:before {
      font-size: 12px;
    }
  }

  + .day {
    margin-top: 30px;
  }
}

.material_list {
  @extend %clearfix;
  margin-left: -10px;

  > li {
    float: left;
    min-width: 33%;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  &._full_w {
    margin: -25px -35px -12px;

    > li {
      min-width: 0;
      float: none;
      margin-bottom: 0;
      border-top: 1px solid #d9d9d9;

      &:first-child {
        border-top: none;
      }

      .upload_file {
        padding: 20px;

        &:hover {
          background: #fbfbfb;
        }
      }
    }
  }
}

.monitor_list {
  @extend %clearfix;
  margin-left: -10px;

  > li {
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.monitor_item {
  position: relative;
  min-width: 153px;
}

.monitor_icon {
  @include transition_all(border .3s);
  border-radius: 100%;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  position: relative;
  border: 2px solid;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 100%;
  }

  &:hover {
    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .monitor_tip {
      display: block;
    }
  }

  &.monitor_orange {
    border-color: #ffc107;

    &:before {
      background: #ffc107;
    }

    &:hover {
      border-color: rgba(255, 193, 73, .3);
    }
  }

  &.monitor_red {
    border-color: $gl_red_2;

    &:before {
      background: $gl_red_2;
    }

    &:hover {
      border-color: rgba(255, 81, 55, .3);
    }
  }

  &.monitor_green {
    border-color: $gl_green;

    &:before {
      background: $gl_green;
    }

    &:hover {
      border-color: rgba(80, 193, 113, .3);
    }
  }
}

.monitor_tip {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -32px;
  margin-top: 20px;
  padding: 25px 20px 30px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .05em;
  border-radius: 10px;
  background: $gl_white;
  width: 400px;
  max-width: 90vw;
  box-shadow: 0 2px 5px 0 rgba(110, 115, 121, .7);

  &:after,
  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  &:before {
    margin-bottom: 1px;
    border-bottom: 10px solid rgba(110, 115, 121, .1);
  }

  &:after {
    border-bottom: 10px solid $gl_white;
  }
}

.monitor_name {
  font: 14px/22px $HelveticaNeueLight;
  color: #000;
}




