.filter_bar {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background: $gl_white;
  z-index: 3;
}

.filter_dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: $gl_white;

  .section_inner {
    display: none;
    padding-top: 20px;

    &.open_menu {
      display: block;
    }
  }
}

.collegial_list_w {
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -30px;
  padding-right: 15px;
}

.collegial_list {
  @extend %clearfix;
  margin: -15px -1% 0 -15px;

  > li {
    float: left;
    width: 33%;
    padding-left: 15px;
  }
}

.collegial_unit {
  @include transition_all(background .3s);
  position: relative;
  padding: 16px 40px 14px 20px;
  background: #f0f1f1;
  border-radius: 10px;
  margin-top: 15px;

  .unit_rm_btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  p {
    font: 11px $HelveticaNeueLight;
  }

  &:hover {
    background: #e2e3e4;
  }
}

.filter_bar_controls {
  @extend %clearfix;
  margin-left: -15px;
  padding-top: 20px;

  li {
    float: left;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  &.text_center {
    li {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.unit_rm_btn {
  @extend %icon_pseudo;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;

  &:before {
    content: $i-cross;
    font-size: 12px;
    line-height: 20px;
  }
}

.filter_link {
  @include transition_all(opacity .3s);
  @extend %icon_pseudo;
  padding-right: 23px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: .075em;
  position: relative;
  cursor: pointer;
  display: block;

  &:before {
    content: $i-chevron-down;
    position: absolute;
    right: 0;
    font-size: 14px;
    margin-top: -10px;
    top: 50%;
    line-height: 20px;
  }

  .open_menu &,
  ._active & {
    opacity: .5;

    &:before {
      content: $i-chevron-up;
    }
  }

  &:hover {
    opacity: .5;
  }
}

.filter_list {
  @extend %clearfix;
  padding: 10px 0;

  > li {
    float: left;
    padding-right: 30px;
    padding-left: 20px;
  }
}

.filter_menu_w {
  position: absolute;
  top: 100%;
  left: 0;
}

.member_search_w {
  text-align: left;
  position: absolute;
  top: 0;
  left: 100%;
  width: 400px;

  .add_list {
    max-height: 380px;
    overflow-y: auto;
    padding: 22px 0;
    border: solid #d8d8d8;
    border-width: 1px 0;

    .add_item {
      padding: 17px 40px 17px 60px;
    }

    .dash_b_label {
      padding: 0 25px;
      margin-bottom: 5px;
    }
  }

  .participant_avatar {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
}

.member_search_header {
  padding: 20px;

  .dash_b_label {
    margin-bottom: 3px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: top;
  }
}

.member_search_footer {
  padding: 20px;
  text-align: center;

  .dash_btn {
    min-width: 240px;
  }
}

.collegial_switch_w {
  width: 400px;
}

.collegial_switch_list {
  max-height: 400px;
  overflow-y: auto;
}

.collegial_switch_item {
  position: relative;
  font: 11px/14px $HelveticaNeueLight;

  &.check_v1 {
    letter-spacing: .06em;

    .check_text {
      @include transition_all(transform .3s);
      padding: 20px 20px 20px 60px;
      position: relative;
      display: block;
      cursor: pointer;

      &:before {
        @extend %icon_pseudo;
        @include transition_all(opacity .3s);
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 25px;
        left: 20px;
        padding-left: 2px;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: $gl_gray_2;
        border-radius: 4px;
        border: 1px solid $gl_gray_2;
        opacity: .5;
      }

      &:hover {
        background: #f0f1f1;

        &:before {
          opacity: 1;
        }
      }
    }

    input.hide:checked + .check_text {
      background: #e2e3e4;

      &:before {
        opacity: 1;
        content: $i-checkmark_bold;
      }
    }
  }
}

.daterangepicker_v1 {

  .calendar-table {
    thead {
      th {
        font: 10px $HelveticaNeueLight;
        letter-spacing: .02em;
        text-transform: uppercase;
        height: 35px;
        color: $default_t_color;
      }
    }

    .weekend {
      opacity: .5;
    }
  }

  .glyphicon-chevron-right {
    &:before {
      content: $i-chevron-right;
    }
  }

  .glyphicon-chevron-left {
    &:before {
      content: $i-chevron-left;
    }
  }

  .glyphicon-chevron-right,
  .glyphicon-chevron-left {
    @extend %icon_pseudo;
    font-size: 14px;
  }

  .daterangepicker {

    &.dropdown-menu {
      display: none;
      border-radius: 4px;
      border: 1px solid $gl_gray_2;
      padding: 0;

      &:after {
        left: 12px;
      }

      &:before {
        left: 11px;
        border-bottom-color: $gl_gray_2;
      }
    }

    th {
      min-width: 25px;
      border: 0;
    }

    td {
      height: 26px;
      font-size: 12px;
      min-width: 26px;
      border-radius: 13px;
      border: 0;

      &.in-range {
        background: $default_t_color;
        color: $gl_white;
        border-radius: 0;
      }

      &.end-date {
        border-radius: 0 13px 13px 0;
      }

      &.start-date {
        border-radius: 13px 0 0 13px;
      }

      &.start-date.end-date {
        border-radius: 13px;
      }

      &.active {
        cursor: default;
        background-color: $gl_red_2;
      }
    }
  }
}

.daterangepicker_holder {
  .filter_menu_w & {
    min-width: 420px;
  }

  .date-picker-wrapper {
    border: none;
    padding: 0;

    .month-wrapper {
      border: none;
    }

    .footer {
      display: none;
    }
  }

  .daterangepicker {
    @extend %clearfix;
    position: relative;
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    display: block !important;
    border: none !important;
    padding: 0;
    border-radius: 0;

    &:after,
    &:before {
      background: none;
      border: none;
    }
    
    .calendar {
      margin: 0;

      .off {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }

    .ranges {
      display: none;
    }

    .daterangepicker_input {
      display: none;
    }
  }
}

.calendar_select {
  float: left;
  width: 50%;
  padding: 0 2px;
  text-align: left;
  margin: 5px 0;

  .select2-dropdown {
    width: 100px !important;
  }
}

.time_picker_w {
  left: -20px;
  top: 100%;
  margin-top: 10px;
  padding: 20px 20px 10px;
  width: 280px;

  .f_input {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.val_btn {
  @include transition_all(border-color .3s);
  @extend %no-user-select;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35px;
  font-size: 24px;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  z-index: 1;

  &:hover {
    border-color: $gl_gray_2;
  }

  &.minus {
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.plus {
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.disabled {
    cursor: default;
    background: none;
    color: #a0a0a0;
  }
}
