@import "../senat_icons/style.scss";

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
  //overflow-x: hidden;

  &.stick_footer {
    .wrapper {
      min-height: 100%;
    }
  }

  &.stick_header {
    .wrapper {
      padding-top: 120px;
    }

    .page_index {
      .wrapper {

        @include respond-to-min($resp_step_3) {
          padding-top: 140px;
        }
      }
    }
  }

  &.nav_header {
    .wrapper {
      padding-top: 170px;
    }
  }

  &.action_header {
    .wrapper {
      padding-top: 130px;
    }
  }
}

body {
  background: #f0f2f3;
  font: 14px/1.2 $HelveticaNeueReg;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.invis {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

input.hide {
  position: absolute;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  position: relative;
  min-width: 1024px;
}

.section_inner {
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;

  &._rel {
    position: relative;
  }
  
  .filter_bar &,
  .main_content & {
    padding: 0 72px;
    max-width: $content-max-w - 80;

    &._chat {
      padding: 0;
      max-width: $content-max-w;
    }
  }

  .page_index .wrapper .filter_bar &,
  .page_index .wrapper .main_content & {

    @include respond-to-min($resp_step_2) {
      //max-width: $content-max-w;
      padding: 0 32px;
    }
  }
}

.main_content {
  @extend %clearfix;
  position: relative;
  z-index: 1;

  &._has_footer_controls {
    padding-bottom: 100px;
  }

  &._has_footer_nav {
    padding-bottom: 150px;
  }
}

.wide_aside_left {
  @include respond-to-min($resp_step_3) {
    float: left;
    width: 43.75%;
    padding-left: 4.7%;
    position: relative;
  }
}

.wide_aside_right {
  display: none;

  @include respond-to-min($resp_step_3) {
    display: block;
    float: left;
    width: 56.25%;

    .section_inner {
      max-width: $content-max-w - 120;
    }

    .main_content & {
      position: fixed;
      top: 130px;
      bottom: 0;
      right: 0;
      overflow-y: auto;
    }
  }
}

.chat_container {
  @extend %clearfix;
  //position: fixed;
  //bottom: 0;
  //top: 130px;
  //width: $content-max-w;
  //max-width: 100%;

  .small_aside_right,
  .small_aside_left {
    //height: 100%;
    position: relative;
  }

  .small_aside_left {
    background: $gl_white;

    position: fixed;
    bottom: 0;
    top: 130px;
    width: 350px;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 5000px;
      //background: $gl_white;
    }

    &._has_search {
      padding-top: 60px;

      &:before {
        border-top: 60px solid #d6d8da;
      }
    }
  }

  .small_aside_right {
    padding-bottom: 80px;

    .chat_form {
      position: fixed;
      bottom: 20px;
      //right: 30px;
      //left: 30px;
      padding-top: 0;
      width: 610px;
      margin-left: 30px;
    }

    .f_input {
      background: $gl_white;
    }
  }
}

.small_aside_left {
  float: left;
  width: 350px;
  min-height: 1px;

  .nav_bar & {
    padding: 0 30px;
    font-size: 12px;
  }
}

.small_aside_right {
  @extend %clearfix;
  margin-left: 350px;
  position: relative;
  min-height: 1px;
}

.aside_caption {
  padding: 0 30px;
  letter-spacing: .035em;
}

.doc_preview {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.wide-hidden {
  @include respond-to-min($resp_step_3) {
    display: none;
  }
}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
}

.gl_table_cell {
  display: table-cell;
  vertical-align: middle;
  max-width: 100vw;
}

.logo_icon {
  @extend %icon_pseudo;

  &:before {
    content: $i-logo;
  }
}

// **********  buttons

.btn_v1 {
  height: 40px;

  &.auth_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 44px;
    font: 10px/20px $HelveticaNeueBold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
  }
}

.btn_light_white {
  @include transition_all(background .3s);
  background: rgba(255, 255, 255, .2);
  color: $gl_white;

  &:hover {
    background: rgba(255, 255, 255, .4);
  }

}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.clr_white {
  color: $gl_white;
}

.clr_green {
  color: $gl_green;
}

.clr_gray {
  color: #3c3c3c;
}

.clr_gray_2 {
  color: $gl_gray_2;
}

.clr_gray_3 {
  color: $gl_gray_3;
}

.clr_def {
  color: $default_t_color;
}

.clr_red {
  color: $gl_red_3;
}

.clr_blue {
  color: $gl_blue_2;
}

.clr_orange {
  color: $gl_orange;
}
