@import "../senat_icons/style.scss";

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;

  &.stick_footer {
    .wrapper {
      min-height: 100%;
    }
  }

  &.stick_header {
    .wrapper {
      padding-top: 120px;
    }
  }

  &.nav_header {
    .wrapper {
      padding-top: 170px;
    }
  }
}

body {
  background: #f0f2f3;
  font: 14px/1.2 $HelveticaNeueReg;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  position: relative;
  min-width: 1024px;
}

.section_inner {
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;

  .main_content & {
    padding: 0 72px;
    max-width: $content-max-w - 80;
  }
}

.main_content {
  position: relative;
  z-index: 1;

  &._has_footer_controls {
    padding-bottom: 100px;
  }
}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
}

.gl_table_cell {
  display: table-cell;
  vertical-align: middle;
  max-width: 100vw;
}

.logo_icon {
  @extend %icon_pseudo;

  &:before {
    content: $i-logo;
  }
}

// **********  buttons

.btn_v1 {
  height: 40px;

  &.auth_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 44px;
    font: 10px/20px $HelveticaNeueBold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
  }
}

.btn_light_white {
  @include transition_all(background .3s);
  background: rgba(255, 255, 255, .2);
  color: $gl_white;

  &:hover {
    background: rgba(255, 255, 255, .4);
  }

}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.clr_white {
  color: $gl_white;
}

.clr_green {
  color: $gl_green;
}

.clr_blue {
  color: $gl_blue_2;
}

.clr_orange {
  color: $gl_orange;
}
