
.f_input {
  display: block;
  width: 100%;

  &.input_v2 {
    @include transition_all(border .3s);
    height: 80px;
    padding: 10px;
    font: 30px/40px $HelveticaNeueLight;
    color: $gl_white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .4);
    letter-spacing: .02em;

    &::-moz-placeholder {
      color: rgba(255, 255, 255, .6);
    }

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, .6);
    }

    &:focus {
      border-color: #fff;

      &:empty {
        &::-moz-placeholder {
          color: rgba(255, 255, 255, 1) !important;
        }

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }
  }

  &._inp_black {
    border-color: rgba(110, 115, 122, .5);
    color: $default_t_color;

    &::-moz-placeholder {
      color: rgba(47, 47, 47, .6);
    }

    &::-webkit-input-placeholder {
      color: rgba(47, 47, 47, .6);
    }

    &:focus {
      border-color: $gl_gray_2;

      &:empty {
        &::-moz-placeholder {
          color: rgba(47, 47, 47, 1) !important;
        }

        &::-webkit-input-placeholder {
          color: rgba(47, 47, 47, 1) !important;
        }
      }
    }
  }

  .search_form .has_icon & {
    padding-left: 80px;
  }
}

.search_submit {
  @include transition_all(opacity .3s, transform .3s);
  @extend %icon_pseudo;
  position: absolute;
  background: none;
  top: 50%;
  text-align: center;

  .f_input:focus + & {
    opacity: 1;
    @include transform_scale(1.3);
  }

  &._small {
    color: $default_t_color;
    width: 20px;
    height: 20px;
    left: 10px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
  }

  &._large {
    width: 50px;
    height: 50px;
    left: 15px;
    margin-top: -25px;
    font-size: 30px;
    line-height: 50px;
  }
}

.radio_toggle {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  font-size: 0;

  &._flag {
    .radio_text {
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: rgba(26, 26, 26, .3);
      }
    }
  }
}

.radio_text {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  font: 16px/30px $HelveticaNeueBold;
  padding: 5px 15px;
  text-align: center;

  &._on {
    @include transition_all(margin-left .3s);
    background: $gl_green;
    padding-right: 45px;
    border-radius: 20px 0 0 20px;

    &:before {
      @include transition_all(right .3s);
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      right: 0;
      top: 50%;
      margin-top: -20px;
      border-radius: 100%;
      background: $gl_white;
      z-index: 1;
      box-shadow: 0 2px 5px 0 rgba(71, 71, 71, 0.30);
    }
  }

  &._off {
    padding-left: 45px;
    background: $gl_red_4;
    border-radius: 0 20px 20px 0;
  }

  input:checked + & {
    margin-left: -100%;

    &:before {
      right: -40px;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.flag_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
