
.input_w {
  position: relative;
}

.input_icon {
  @include transition_all(opacity .3s, transform .3s);
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  left: 10px;
  font-size: 14px;
  line-height: 20px;

  .f_input:focus + & {
    opacity: 1;
    @include transform_scale(1.3);
  }
}

.f_input {
  display: block;
  width: 100%;

  &.input_v1 {
    @include transition_all(border .3s);
    height: 40px;
    padding: 10px;
    font: 14px/18px $HelveticaNeueReg;
    color: $gl_white;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .4);

    &::-moz-placeholder {
      color: rgba(255, 255, 255, .6);
    }

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, .6);
    }

    &:focus {
      border-color: #fff;

      &:empty {
        &::-moz-placeholder {
          color: rgba(255, 255, 255, 1) !important;
        }

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }
  }

  .has_icon & {
    padding-left: 40px;
  }

  .chat_cell & {
    padding-right: 135px;
  }
}

