//*************************** header

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 80px;
  line-height: 80px;
  min-width: $content-max-w;
  z-index: 6;
  background: rgb(80, 193, 113);
  background: -moz-linear-gradient(left, rgba(80, 193, 113, 1) 0%, rgba(24, 206, 152, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(80, 193, 113, 1) 0%, rgba(24, 206, 152, 1) 100%);
  background: linear-gradient(to right, rgba(80, 193, 113, 1) 0%, rgba(24, 206, 152, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50c171', endColorstr='#18ce98', GradientType=1);

  .section_inner {
    padding: 0 32px;
    max-width: none;
  }

  .vote_opened & {
    background: $default_t_color;
  }
}

.logo_block {
  float: left;

  .logo {
    font-size: 32px;
  }

  @include respond-to-min($resp_step_2) {
    padding-right: 20px;
  }
}

.main_nav {
  float: left;
}

.nav {

}

.nav_item {
  position: relative;
  float: left;
  padding-left: 14px;

  .nav_counter {
    top: -6px;
    right: 0;
  }
}

.nav_counter {
  z-index: 1;
  position: absolute;
  border-radius: 100%;
  min-width: 14px;
  height: 14px;
  text-align: center;
  font: 9px/14px $HelveticaNeueBold;
  color: $gl_white;
  background: $gl_red;
}

.nav_link {
  @include transition_all(color .3s, background .3s);
  display: block;
  height: 30px;
  border-radius: 15px;
  padding: 6px 12px;
  color: $gl_white;
  font: 14px $HelveticaNeueLight;
  letter-spacing: .1em;

  .active & {
    cursor: default;
    font-family: $HelveticaNeueBold;
  }

  .active &,
  &:hover {
    background: $gl_white;
    color: $gl_green;
  }
}

.user_block {
  line-height: 40px;
}

.user_b_item {
  float: left;
  padding-left: 20px;
}

.user_b_control {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, .6);

  .nav_counter {
    top: -2px;
    right: -6px;
  }
}

.search_btn {
  @include transition_all(background .3s);
  @extend %icon_pseudo;
  display: block;
  border-radius: 100%;
  text-align: center;
  color: $gl_white;
  font-size: 22px;

  &:before {
    content: $i-search;
  }

  .search_opened & {
    background: rgba(255, 255, 255, .4);
  }
}

.notification_btn {
  @extend %icon_pseudo;
  display: block;
  border-radius: 100%;
  text-align: center;
  color: $gl_white;
  font-size: 22px;

  &:before {
    content: $i-bell;
  }
}

.user_avatar {
  display: block;
  width: 30px;
  height: 30px;
  margin: 4px;
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
  }
}

.user_menu_w {
  right: -22px;
  margin-top: 25px;
  padding: 10px 0;
  border-radius: 10px;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 22px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 14px solid $gl_white;
  }
}

.notification_menu_w {
  right: -30px;
  margin-top: 25px;
  padding: 10px 0;
  border-radius: 10px;
  width: 320px;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 30px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 14px solid $gl_white;
  }

  .dash_b_menu_list {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  .dash_menu_group {
    letter-spacing: .09em;
  }
}

.notification_item {
  position: relative;
  padding: 7px 20px 20px;
  min-height: 40px;
  letter-spacing: .045em;

  b {
    font-family: $HelveticaNeueBold;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  &._has_img {
    padding-left: 50px;
  }
}

.notification_author {
  position: absolute;
  left: 20px;
  top: 7px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 100%;

  img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

.notification_control {
  padding-top: 10px;

  .dash_btn {
    display: block;
  }
}

.notification_caption {
  color: $gl_gray_2;
  font: 12px/1.5 $HelveticaNeueLight;
}

// *********  menu

.main_menu {
  text-align: center;
  font-family: $SourceSansPro;

  @include respond-to-min($resp_step_2) {
    float: right;
    padding-right: 30px;
    text-align: left;
  }

}

.main_m_item {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  max-width: 330px;
}

.main_menu {
  float: right;
}

.menu_item {
  float: left;
  margin: 0 17px;
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 32px;
  text-decoration: none;
}

.nav_bar {
  @include transition_all(top .3s);
  @extend %clearfix;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: $gl_white;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 2px 2px 0 rgba(26, 26, 26, 0.10);

  .page_index & {
    @include respond-to-min($resp_step_3) {
      top: 80px !important;

      &:before {
        content: '';
        position: absolute;
        left: 43.75%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #d8d8d8;
        margin-left: -1px;
      }
    }
  }

  .page_messages & {
    top: 80px !important;

    .section_inner {
      @extend %clearfix;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 350px;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #d8d8d8;
        margin-left: -1px;
      }
    }
  }
}

.nav_list {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10px;

  li {
    float: left;
    padding-left: 45px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.nav_unit_counter {
  font-size: 30px;
  line-height: 1;
  padding-right: 12px;
}

.nav_unit {
  cursor: pointer;
  font-size: 12px;
  line-height: 38px;
  padding: 0 25px 0 10px;
  letter-spacing: .09em;
  border-bottom: 2px solid transparent;

  li:not(.scroll_done) & {
    color: $gl_gray_2;
  }

  .scroll_done & {
    &.clr_green {
      border-bottom-color: $gl_green;
    }
    &.clr_orange {
      border-bottom-color: $gl_orange;
    }
    &.clr_blue {
      border-bottom-color: $gl_blue_2;
    }
  }
}

.action_navbar {
  @include transition_all(top .3s);
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 3;
  background: $gl_white;
  height: 50px;
  padding: 10px 0;
  line-height: 30px;
  box-shadow: 0 2px 2px 0 rgba(26, 26, 26, 0.10);

  .section_inner {
    padding: 0 32px;
  }
}

.action_nav_back {
  float: left;
  width: 200px;
  font: 12px/30px $HelveticaNeueBold;
}

.action_nav_list {
  @extend %clearfix;
  margin-left: -42px;
  white-space: nowrap;

  > li {
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    letter-spacing: 0.04em;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.action_nav_controls {

  .action_nav_back ~ & {
    margin-left: 199px;
    border-left: 1px solid $gl_gray;
  }
}

.action_nav_menu {
  float: right;
  padding-right: 25px;
  //line-height: 50px;

  + .action_nav_controls {
    padding-right: 65px;
  }

  .menu_holder {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.nav_back_link {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 15px;
  letter-spacing: .055em;

  &:before {
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
    content: $i-chevron-left;
  }
}
