._link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.caption_v1 {
  font-size: 30px;
  color: #a0b3be;
  letter-spacing: 0.04em;
}

.filter_controls {
  @extend %clearfix;
  margin-left: -52px;
  padding: 10px 10px 22px;
}

.filter_item {
  float: left;
  padding-left: 52px;
  margin-bottom: 20px;
}

.filter_link {
  font-size: 12px;
  letter-spacing: .07em;

  .filter_item:not(._active) & {
    color: $gl_gray_2;
  }

  ._active & {
    cursor: default;
  }
}

.filter_unit {
  &._active {
    .dash_box_title {
      display: none;
    }
  }
}

.search_field {
  margin-bottom: 30px;
}

.search_results {
  .caption_v1 {
    margin-top: 58px;
  }
}

.action_brief {
  background: $gl_white;
  position: relative;
  margin-bottom: 25px;

  .dash_box_inner {
    position: relative;
    padding: 20px 0 3px 20px;
    min-height: 100px;
    line-height: 60px;

    .dash_b_info {
      padding-top: 12px;
    }

    > .fl {
      //max-width: 70%;

      > .mb {
        //max-width: 400px;
        vertical-align: top;
      }
    }

    > .fr {
      //padding-top: 10px;
    }
  }
}

.action_brief_progress {
  position: relative;
  background: #c0cfd0;
  line-height: 25px;

  .section_inner {
    position: relative;
    z-index: 1;
  }
}

.action_brief_val {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff793;
}

.action_brief_left,
.action_brief_time {
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //width: 100%;
  width: 50%;
  font-size: 10px;
  letter-spacing: 0.085em;
}

.action_brief_time {
  text-align: left;
  float: left;
}

.action_brief_left {
  text-align: right;
  color: $gl_white;
  float: right;
}

.participants_block {
  @extend %clearfix;
  padding-left: 100px;
  line-height: normal;
  position: relative;
  clear: right;

  .dashboard_list & {
    padding-top: 30px;
    padding-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 140px;
      right: 0;
      border-top: 1px solid $gl_gray;
    }
  }
}

.participants_list {
  padding-left: 24px;
  max-width: 480px;
  margin-right: -20px;
  //float: left;

  > li {
    float: left;
    width: 50%;
    padding-left: 12px;
    margin-bottom: 15px;
  }

  .participant_vote + & {
    width: 420px;
  }
}

.participant_vote {
  float: right;

  .btn_v1.dash_btn {
    min-width: 230px;
  }
}

.action_progress_block {

  p {
    font-size: 12px;
    opacity: .5;
  }
}

.action_progress_time {
  font: 14px/1.5 $HelveticaNeueBold;
}

.action_progress_val {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: $gl_green;
  border-radius: 3px;
}

.action_progress_box {
  position: relative;
  border-radius: 3px;
  width: 67px;
  height: 6px;
  margin-left: 3px;
  background: $gl_gray;
}

.dash_b_participant {
  letter-spacing: .05em;
}

.participant_avatar {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;

  img {
    display: block;
    max-width: 100%;
  }
}

.participant_name {

  .dash_b_participant & {
    padding-left: 50px;
    line-height: 1.5;
  }
}

.participant_post {
  @include transition_all(opacity .3s);
  font-size: 12px;
  opacity: .5;

  .dash_b_participant & {
    padding-left: 50px;
  }
}

.participant_committee {
  font-size: 10px;
  color: #1a1a1a;
  opacity: .5;
}

.member_list {
  @extend %clearfix;
  margin-left: -62px;

  > li {
    float: left;
    width: 20%;
    min-width: 130px;
    padding-left: 48px;
    margin-bottom: 25px;
  }
}

.members_wrapper {
  @extend %clearfix;
}

.members_holder {
  padding-top: 7px;

  .members_wrapper & {
    max-width: 49.7%;
    min-width: 32.9%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
  }

  .member_list {
    padding-top: 10px;

    > li {
      margin-bottom: 10px;
    }
  }
}

.member_box {
  position: relative;
  text-align: center;
  letter-spacing: .03em;

  &:hover {
    .participant_post {
      opacity: 1;
    }
  }

  .participant_name {
    margin-bottom: 8px;
  }

  .add_unit_btn {
    margin-top: 10px;
  }
}

.member_avatars {
  margin-bottom: 12px;
}

.member_main_avatar {
  @include transition_all(border-color .3s);
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  position: relative;
  background: #fafbfb;

  &:hover {
    border-color: $gl_green;
  }

  &:empty {
    border: 1px dashed #b7b9bd;
  }

  .unit_rm_btn {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(26, 26, 26, .3);
  }
}

.member_small_avatar {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  right: -20px;
  z-index: 1;
}

.member_small_avatar,
.member_main_avatar {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 100%;

  img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

.create_controls {
  padding: 40px 0 12px;
  text-align: center;
}

.question_holder {
  margin: 0 -25px;
  max-height: 430px;
  overflow-y: auto;
  border: solid #d8d8d8;
  border-width: 1px 0;
}

.question_controls {
  margin: 0 -25px;
  padding: 20px;

  .dash_btn {
    min-width: 240px;
  }
}

.add_list {

  li {

  }
}

.add_item {
  @include transition_all(background .3s);
  background: #fff;
  position: relative;
  min-height: 30px;
  padding: 10px 40px 10px 60px;

  .check_v1 {
    letter-spacing: .06em;

    .check_text {
      @include transition_all(transform .3s);
      position: absolute;
      top: 50%;
      left: 20px;
      margin-top: -10px;
      cursor: pointer;

      &:before {
        @extend %icon_pseudo;
        @include transition_all(opacity .3s);
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        padding-left: 2px;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: $gl_gray_2;
        background: $gl_white;
        border-radius: 4px;
        border: 1px solid transparentize($gl_gray_2, .5);
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    input.hide:checked + .check_text {

      &:before {
        border-color: $gl_gray_2;
        content: $i-checkmark_bold;
      }
    }
  }

  &:hover {
    background: #f0f1f1;

    &:before {
      border-color: $gl_gray_2;
    }
  }
}

.question_inner {
  @extend %clearfix;
  position: relative;
  border-radius: 10px;
  background: #fff;
  padding: 5px 0;
  border: 1px solid rgba(110, 115, 121, 0.50);

  .dash_b_date {
    padding: 15px 10px;

    &:before {
      left: 100px;
      top: 10px;
      bottom: 10px;
    }

    .day {
      margin-bottom: 5px;
    }
  }
}

.check_v2 {
  letter-spacing: .06em;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  cursor: pointer;

  .check_state {
    @include transition_all(transform .3s);
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    margin-bottom: 18px;
    border-radius: 100%;

    &:after {
      @include transition_all(border .3s, opacity .3s);
      position: absolute;
      content: '';
      left: 50%;
      margin-left: -60px;
      top: 0;
      border-radius: 100%;
      width: 120px;
      height: 120px;
      border: 1px solid;
    }

    &:before {
      @extend %icon_pseudo;
      @include transition_all(background .3s, color .3s);
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin: -35px 0 0 -35px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      font-size: 50px;
      line-height: 70px;
      text-align: center;
      background: $gl_white;
    }

    &.i-check {
      &:after {
        border-color: $gl_green;
      }
    }

    &.i-cross {
      &:after {
        border-color: $gl_red_2;
      }
    }

    &.i-circle-minus {
      &:after {
        border-color: $gl_gray_3;
      }
    }
  }

  .check_text {
    @include transition_all(color .3s);
    font: 18px $HelveticaNeueBold;
    display: block;
  }

  &:hover {
    .check_state {
      @include transform_scale(1.143);

      &:after {
        border-width: 30px;
        opacity: .2;
      }

      &.i-check {
        ~ .check_text {
          color: $gl_green;
        }
      }

      &.i-cross {
        ~ .check_text {
          color: $gl_red_2;
        }
      }

      &.i-circle-minus {
        ~ .check_text {
          color: $gl_gray_3;
        }
      }
    }
  }

  input.hide:checked + .check_state {

    &:before {
      color: $gl_white;
      background-color: transparent;
    }

    &:after {
      opacity: 1;
      border-width: 60px;
    }

    &.i-check {
      &:before {
        //background: $gl_green;
      }

      ~ .check_text {
        color: $gl_green;
      }
    }

    &.i-cross {
      &:before {
        //background: $gl_red_2;
      }

      ~ .check_text {
        color: $gl_red_2;
      }
    }

    &.i-circle-minus {
      &:before {
        //background: $gl_gray_3;
      }

      ~ .check_text {
        color: $gl_gray_3;
      }
    }
  }
}

.question_info {
  padding-left: 15px;
  max-width: 575px;
  letter-spacing: .05em;
}

.upload_list {
  margin-bottom: 30px;

  > li {
    margin-bottom: 5px;
  }
}

.upload_file {
  @include transition_all(background .3s);
  position: relative;
  line-height: 30px;
  white-space: nowrap;

  .upload_list & {
    background: #fafbfc;
    height: 70px;
    border-radius: 4px;
    padding: 20px 50px 20px 20px;

    .unit_rm_btn {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -10px;
      box-shadow: 0 2px 5px 0 rgba(26, 26, 26, .3);
    }

    &._loading {
      .unit_rm_btn {
        display: none;
      }

      > .mb {
        opacity: .1;
      }
    }

    &:hover {
      background: #f5f7f8;
    }
  }
}

.upload_name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 92%;
  font: 18px $HelveticaNeueLight;
}

.upload_icon {
  display: block;
  font-size: 30px;
  margin-right: 15px;

  img {
    display: block;
    max-height: 30px;
  }
}

.loading_progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  overflow: hidden;
  display: none;

  ._loading & {
    display: block;
  }
}

.loading_progress_val {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(160, 179, 190, .5);
}

.loading_progress_text {
  text-align: center;
  padding: 20px;
  font: 24px/30px $HelveticaNeueLight;
}

.tag_holder {
  padding: 9px 10px 1px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid $gl_gray_2;
}

.tag_list {
  @extend %clearfix;
  margin-left: -10px;

  > li {
    @include transition_all(background .3s);
    float: left;
    margin-left: 10px;
    margin-bottom: 8px;
    line-height: 22px;

    &.tagit-choice {
      cursor: pointer;
      padding: 0 8px;
      border-radius: 4px;
      background: $gl_gray_2;

      &:hover {
        background: #a8abb0;
      }
    }
  }

  .tagit-new {
    .ui-autocomplete-input {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .tagit-label {
    padding-right: 5px;
    color: $gl_white;
    font: 12px/22px $HelveticaNeueLight;
  }

  .tagit-close {
    @include transition_all(color .3s);
    color: $gl_white;

    &:hover {
      color: $gl_red;
    }
  }
}

.tag_item {
  font: 12px/22px $HelveticaNeueLight;
  padding: 0 10px;
  border-radius: 4px;
  color: #1a1a1a;
  background: $gl_white;
  letter-spacing: .065em;
}

.drop_catcher {
  @include transition_all(opacity .3s);
  opacity: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 80px;
  z-index: 10;
  pointer-events: none;
  background: rgba(255, 255, 255, .8);
  border: 10px solid $gl_green;

  .drag_in & {
    opacity: 1;
  }

  .nav_footer & {
    bottom: 110px;
  }

  .nav_header & {
    top: 130px;
  }
}




