.caption_v1 {
  font-size: 30px;
  color: #a0b3be;
  letter-spacing: 0.04em;
}

.filter_controls {
  @extend %clearfix;
  margin-left: -52px;
  padding: 10px 10px 22px;
}

.filter_item {
  float: left;
  padding-left: 52px;
  margin-bottom: 20px;
}

.filter_link {
  font-size: 12px;
  letter-spacing: .07em;

  .filter_item:not(._active) & {
    color: $gl_gray_2;
  }

  ._active & {
    cursor: default;
  }
}

.filter_unit {
  &._active {
    .dash_box_title {
      display: none;
    }
  }
}

.search_field {
  margin-bottom: 30px;
}

.search_results {
  .caption_v1 {
    margin-top: 58px;
  }
}
