
.profile_bg_w {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile_bg {
  width: 100%;
  height: 100%;

  .backstretch {
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: transparentize($default_t_color, .7);
    }
  }
}

.profile_block {
  @extend %clearfix;
  min-height: 220px;
  margin: 22px 0 18px;
}

.profile_info {
  padding: 0 200px;

  p {
    margin-top: 20px;
    font: 14px/18px $HelveticaNeueLight;
    letter-spacing: .065em;
  }
}

.profile_logout {
  float: right;
  padding-top: 8px;
  margin-bottom: 20px;
}

.profile_photo {
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

.profile_name {
  font: 24px $HelveticaNeueLight;
  letter-spacing: .045em;
  padding: 8px 0 4px;
}

.profile_post {
  font: 18px $HelveticaNeueLight;
  letter-spacing: .06em;
  opacity: .5;
  margin-bottom: 20px;
}

.profile_settings {
  margin-bottom: 20px;
}

.profile_s_row {
  @extend %clearfix;
  position: relative;
  line-height: 40px;
  padding: 20px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -80px;
    left: -80px;
    border-top: 1px solid #d8d8d8;
  }
}

.profile_s_name {
  padding-right: 110px;
  font-size: 18px;
  letter-spacing: .04em;
}

.profile_s_val {
  width: 90px;
  font-size: 18px;
  color: $gl_white;
  letter-spacing: .05em;
}



