.profile_bg_w {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile_bg {
  width: 100%;
  height: 100%;

  .backstretch {
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: transparentize($default_t_color, .7);
    }
  }
}

.person_bg_w {
  position: relative;
  margin-top: -40px;
  padding-top: 40px;
  padding-bottom: 1px;

  .section_inner {
    position: relative;
    z-index: 1;
  }
}

.person_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-repeat: repeat-x;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: transparentize($default_t_color, .7);
  }
}

.person_info {
  padding: 35px 40px 25px;
  border-radius: 10px;
  letter-spacing: .045em;
  background: $gl_white;
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.profile_contacts {
  background: $gl_white;
  padding: 20px 0;
  line-height: 40px;
  margin-bottom: 35px;
}

.contact_block {
  @extend %clearfix;
  margin: 0 -88px;
}

.contact_item {

  &.fl {
    padding-left: 88px;
  }

  &.fr {
    padding-right: 88px;
  }
}

.contact_link {
  font-size: 15px;
  line-height: 20px;
  color: $gl_gray_2;
  letter-spacing: .04em;
}

.contact_icon {
  color: $default_t_color;
  margin-right: 10px;

  &.i-phone {
    font-size: 20px;
  }

  &.i-envelope {
    font-size: 15px;
  }
}

.profile_block {
  @extend %clearfix;
  min-height: 217px;
  margin: 22px 0 0;
}

.profile_info {
  padding: 0 200px;
  min-height: 160px;

  p {
    margin-top: 20px;
    font: 14px/18px $HelveticaNeueLight;
    letter-spacing: .065em;
  }
}

.profile_logout {
  float: right;
  padding-top: 8px;
  margin-bottom: 20px;
}

.profile_photo {
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

.profile_name {
  font: 24px $HelveticaNeueLight;
  letter-spacing: .045em;
  padding: 8px 0 4px;
}

.profile_post {
  font: 18px $HelveticaNeueLight;
  letter-spacing: .06em;
  opacity: .5;
  margin-bottom: 20px;
}

.profile_settings {
  margin: 20px 0;
}

.profile_s_row {
  @extend %clearfix;
  position: relative;
  line-height: 38px;
  padding: 20px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -80px;
    left: -80px;
    border-top: 1px solid $gl_gray;
  }
}

.profile_s_name {
  padding-right: 110px;
  font-size: 18px;
  letter-spacing: .04em;
}

.profile_s_val {
  width: 90px;
  font-size: 18px;
  color: $gl_white;
  letter-spacing: .05em;
}



